# Eliminacion de variables con varianzaiguales a 0

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/sao/Desktop/Python/Datascience/datasets/Niveles de contaminacion.csv', index_col=0)
df.head()

                    PM10   PM2.5       SO2    CO      NOX    COV  NH3     CN
Numero_de_empresas
0                    945   629.0    1814.0   235    843.0   1836   14    5.0
588                 1978  1842.0    5588.0  6850      NaN  11692  254    NaN
27                  1028   752.0   22890.0   505      NaN    516  115   58.0
39                  4527  3847.0  574973.0  8698  34132.0   3465  382  356.0
214                 5063  3083.0   54592.0  2510   4845.0   3419  912  812.0