In [1]:
#Creacion de una lista
datos = [4,1,2,"Escritorio","Borrador",50]
datos

[4, 1, 2, 'Escritorio', 'Borrador', 50]

In [2]:
#Nos muestre el tipo de objeto
type(datos)

list

In [3]:
#Obtener el elemento que se eencuentra en la primera posicion
datos[0]

4

In [4]:
datos[2:5] #Toca colocar 1 mas

[2, 'Escritorio', 'Borrador']

In [11]:
#Mostrar el penultimoo elemento
datos[-2]

50

In [17]:
#Sustituir elementos de una lista
datos[4]="Silla"

datos

[4, 1, 2, 'Escritorio', 'Silla', 50, 'nelson']

In [18]:
#Concatenacion de lista

datos=datos+[75,"pluma","lapiz"]
datos

[4, 1, 2, 'Escritorio', 'Silla', 50, 'nelson', 75, 'pluma', 'lapiz']

In [20]:
datos_2=[100,300]
datos_2

[100, 300]

In [22]:
datos_3=datos+datos_2
datos_3

[4, 1, 2, 'Escritorio', 'Silla', 50, 'nelson', 75, 'pluma', 'lapiz', 100, 300]

# metodos que se pueden utilizar en una lista

1. append()
2. extend()
3. insert()
4. remove()
5. pop()
6. index()
7. count()
8. reverse()

In [24]:
#.append() sirve para agregar un elemento a la lista
#agregar los elementos de una lista a otra lista con extend()
datos.extend([40,"Gonzalez",42])
datos

[4,
 1,
 2,
 'Escritorio',
 'Silla',
 50,
 'nelson',
 75,
 'pluma',
 'lapiz',
 40,
 'Gonzalez',
 42,
 40,
 'Gonzalez',
 42]

In [25]:
#Insertar un elemento dentro de una posicion especifica con insert()

datos.insert(3, "Carpeta")

In [26]:
datos

[4,
 1,
 2,
 'Carpeta',
 'Escritorio',
 'Silla',
 50,
 'nelson',
 75,
 'pluma',
 'lapiz',
 40,
 'Gonzalez',
 42,
 40,
 'Gonzalez',
 42]

Elimnar un elemento de la lista con remove()

In [29]:
datos.remove(42)

In [30]:
datos

[4,
 1,
 2,
 'Carpeta',
 'Escritorio',
 'Silla',
 50,
 'nelson',
 75,
 'pluma',
 'lapiz',
 40,
 'Gonzalez',
 40,
 'Gonzalez']

In [31]:
#eliminar el ultimo elemento de la lista pop()
datos.pop()

'Gonzalez'

In [32]:
datos

[4,
 1,
 2,
 'Carpeta',
 'Escritorio',
 'Silla',
 50,
 'nelson',
 75,
 'pluma',
 'lapiz',
 40,
 'Gonzalez',
 40]

In [33]:
#Obtener la posicion de un elemento en una lista con index()

datos.index("Gonzalez")

12

In [34]:
#Obtener la cantidad de veces que se encuentra en una lista con count()
datos.count(40)

2

In [35]:
#invertir el orden de los elementos en una lista con reverse()
datos.reverse()

In [36]:
datos

[40,
 'Gonzalez',
 40,
 'lapiz',
 'pluma',
 75,
 'nelson',
 50,
 'Silla',
 'Escritorio',
 'Carpeta',
 2,
 1,
 4]

In [38]:
#buscar un elemento en una lista
'Gonzalez' in datos

True

# Recorrer una lista

In [39]:
numeros =[10,25,33,49,52,63]

for i in numeros:
    print(i)

10
25
33
49
52
63

In [40]:
# Utilizando un range en una lista

for i in range(3):
    print(f' en el indice {i} se encuentra el numero {numeros[i]}')

 en el indice 0 se encuentra el numero 10
 en el indice 1 se encuentra el numero 25
 en el indice 2 se encuentra el numero 33

In [42]:
for j in range(2,5):
    print(f' en el indice {j} se encuentra el numero {numeros[j]}')

 en el indice 2 se encuentra el numero 33
 en el indice 3 se encuentra el numero 49
 en el indice 4 se encuentra el numero 52

In [43]:
#Utilizando for con la funcion enumerate
for i in enumerate(numeros):
    print(i)

(0, 10)
(1, 25)
(2, 33)
(3, 49)
(4, 52)
(5, 63)