In [1]:
import pandas as pd

In [4]:
#Creamos nuestro propio dataframe

data = {'NOMBRE':['Maria','Jose', 'David', 'Ivan'], #Primera columna
'CARRERA' : ['Auditoria','Informatica', 'Derecho' , 'Idiomas'], #Segunda columna
"CORREO" : ['Maria@gmail.com', 'jose@gmail.com', 'david@gmail.com', 'Ivan@gmail.com']} #Tercera Columna
estudiantes = pd.DataFrame(data)
estudiantes

  NOMBRE      CARRERA           CORREO
0  Maria    Auditoria  Maria@gmail.com
1   Jose  Informatica   jose@gmail.com
2  David      Derecho  david@gmail.com
3   Ivan      Idiomas   Ivan@gmail.com

In [6]:
#DataFrame apartir de una lista
#primero agregamos las filas
df = pd.DataFrame([['Maria', 27],['david',34],['jose',17],['ivan',18]],columns =['NOMBRE','EDAD'])
df

  NOMBRE  EDAD
0  Maria    27
1  david    34
2   jose    17
3   ivan    18

In [10]:
import numpy as np
#colocamos el tama√±o del data frame y el nombre de sus columnas
df1 = pd.DataFrame(np.random.randn(4,3),columns=['a','b','c'])
df1

          a         b         c
0  0.753822 -0.723818  0.446650
1  0.806817  0.664413 -0.363864
2 -0.026189  1.555566 -0.095101
3  0.247306  0.341698  0.258385